/* CSS Reset - Start with a Blank Slate */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
strong,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  vertical-align: baseline;
  line-height: 1.45;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #333;
}

header {
  color: #fff;
  text-align: center;
}

header a {
  color: #fff;
  text-decoration: none;
}

.inner-wrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 20px 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ca3433;
}

.site-title {
  font-size: 1.5rem;
}

.page-title {
  font-size: 3rem;
}

.container ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.default-padding {
  padding: 3rem 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-row {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  background-color: #f9f9f9;
}

.col-50 {
  max-width: 50%;
}

.vh-max {
  height: 100vh;
}

ul {
  padding: 0 0 0 1rem;
}

.portrait {
  border-radius: 0.5rem;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.row-reverse {
  flex-direction: row-reverse;
}

.text-caps {
  text-transform: uppercase;
}
