/* CSS Reset - Start with a Blank Slate */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
tr,
th,
td,
article,
footer,
header,
menu,
nav,
section,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  vertical-align: baseline;
  line-height: 1.45;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #333;
}

.wrapper {
  width: 100%;
  padding: 0;
}

.inner-wrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1.25rem;
  background: #fefefe;
}

.header-section {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  color: #fefefe;
  border-radius: 0 0 0.15rem 0.15rem;
}

.site-nav {
  background-color: #b80f0a;
  padding: 1rem;
}

.site-nav a {
  color: #fefefe;
  text-decoration: none;
}

.site-nav a:hover {
  text-decoration: underline;
}

.menu-wrapper {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.section-wrapper {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  padding: 3rem 1.5rem;
  border-radius: 0.15rem;
}

@media (max-width: 768px) {
  .section-wrapper {
    display: flex;
    flex-direction: column;
  }
  .row-reverse {
    display: flex;
    flex-direction: column !important;
  }

  .col {
    width: 100% !important;
  }

  .header-section {
    display: flex;
    flex-direction: column;
  }

  .site-title {
    font-size: 2rem;
    margin-bottom: -0.5rem;
  }
}

@media (max-width: 1120px) {
  .section-wrapper {
    border-radius: 0;
  }

  .header-section {
    border-radius: 0;
  }
}

.bg-color-1 {
  background-color: #eeefee;
}

.col {
  width: 50%;
}

.col p {
  margin-bottom: 1rem;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
}

.section-title {
  margin-bottom: 1rem;
}

.portrait {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  aling-items: center;
  object-fit: cover;
}

.row-reverse {
  flex-direction: row-reverse;
}
